body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    letter-spacing: 1px;
    font-size: 150%;
    font-weight: 900;
    text-decoration: none;
    color:white;
}

#main-header{
    position:fixed;
    width:100%;
    margin-top: 0;
    padding: 1em 3.5em;
    background:grey;
}



.container{
    margin-top: 6em;
    margin-left: 3.5em;
    float: left;
}

.container img{
    width:250px;
    height:350px;
    margin-top:0;
}

.container h3{
    line-height: 200%;
    background:gray;
    color: white;
    left: 5em;
    font-size: 80%;
    text-align: center;
    border: 1px solid black;
}

.container a{
    margin-bottom: 0;
}

.container img:hover{
    box-shadow: 5px 5px 50px 0px rgb(121, 121, 121); 
}

.articles-found {
    top:30px;
}