body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background:lightgray;
}

a {
    letter-spacing: 1px;
    font-size: 150%;
    font-weight: 900;
    text-decoration: none;
    color:white;
}

#main-header{
    position:fixed;
    width: 100%;
    top: 0;
    padding: 1em 3.5em;
    background:grey;
}



.container {
    display:flex;
    width:65%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.container .prod-info{
    margin-top: 5px;
    margin-left: 10px;
    flex-direction: column;
    width:60%;
}

.container .prod-info p {
    margin-bottom: 40px;
}

.container .prod-info p:first-child {
    font-weight: 900;
    font-size: 22px;
}
